.badge {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    white-space: nowrap;
    padding: 0 0.5rem;
    border-radius: 999px;
    background: var(--mat-sys-tertiary-container);
    color: var(--mat-sys-on-tertiary-container);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.75rem;

    mat-icon {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
    }

    &__birthday,
    &__MODERATE {
        background: color-mix(in srgb, orange 30%, white);
        color: color-mix(in srgb, orange 30%, black);
    }

    &-condition__ACTIVE,
    &-medication__ACTIVE {
        background: color-mix(in srgb, green 30%, white);
        color: color-mix(in srgb, green 30%, black);
    }

    &-medication__COMPLETED {
        background: color-mix(in srgb, gray 30%, white);
        color: color-mix(in srgb, gray 30%, black);
    }

    &-medication__DISCONTINUED {
        background: color-mix(in srgb, red 30%, white);
        color: color-mix(in srgb, red 30%, black);
    }

    &-condition__MONITORING,
    &__MILD {
        background: color-mix(in srgb, #f2a13e 30%, white);
        color: color-mix(in srgb, #f2a13e 30%, black);
    }

    &-conditon__RESOLVED {
        background: color-mix(in srgb, gray 30%, white);
        color: color-mix(in srgb, gray 30%, black);
    }

    &__overdue,
    &__SEVERE,
    &__LIFE_THREATENING {
        background: color-mix(in srgb, red 30%, white);
        color: color-mix(in srgb, red 30%, black);
    }
}